@charset "UTF-8";

/* Color Theme Swatches in Hex 
.The-inscription-Agro-on-the-background-of-a-potato-plantation-field.-Agribusiness-and-agro-industry.-Agriculture.-The-use-of-innovative-technologies,-equipment-and-fertilizers.-Beautiful-landscape-1-hex { color: #365902; }
.The-inscription-Agro-on-the-background-of-a-potato-plantation-field.-Agribusiness-and-agro-industry.-Agriculture.-The-use-of-innovative-technologies,-equipment-and-fertilizers.-Beautiful-landscape-2-hex { color: #8AA624; }
.The-inscription-Agro-on-the-background-of-a-potato-plantation-field.-Agribusiness-and-agro-industry.-Agriculture.-The-use-of-innovative-technologies,-equipment-and-fertilizers.-Beautiful-landscape-3-hex { color: #CED9A7; }
.The-inscription-Agro-on-the-background-of-a-potato-plantation-field.-Agribusiness-and-agro-industry.-Agriculture.-The-use-of-innovative-technologies,-equipment-and-fertilizers.-Beautiful-landscape-4-hex { color: #BFB636; }
.The-inscription-Agro-on-the-background-of-a-potato-plantation-field.-Agribusiness-and-agro-industry.-Agriculture.-The-use-of-innovative-technologiecolor: #F2F2F2; }*/

:root{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 300px;
}

header {
    background-color: #11192C;
    min-height: 150px;
    text-align: center;
    /*background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));*/
    padding-top: 40px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;       
}
        main p{
            margin: 15px 0px;
            text-align: justify;
            text-indent: 30px;
            line-height: 1.5em;
            font-size: 1em;
        }
        main  h2 {
            font-family: var(--fonte-android);
            color: var(--cor4);
            font-size: 1.3em;
            background-image: linear-gradient(to right, #BFB636, transparent); /*para fazer um degrader de uma determinada cor até o transparente*/
            text-indent: 6px;/*para o título não ficar muito grudado na esquerda da caixa, pode usar um padding também*/
            /*font-weight: normal;*/
        }


aside{
    background-color: #CED9A7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.400);
}
    aside > h3{
        background-color: #365902;
        color: white;
        padding: 10px;
        margin: -10px -10px 0px -10px;/*colocando um valor negativo a margem cresce "para fora"*/
        border-radius: 10px 10px 0px 0px;
    }
    aside > ul{
        /*list-style-position: inside;/*muda o padrão da bolinha, que é está fora, para dentro*/
        /*columns: 2;/*para dividir uma lista em 2 colunas*/
    }

footer {
    background-color: aqua;
    color: black;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    height: 40px;
}

.equipe{
    border-radius: 50%;
}

.teste{
    text-align: center;
}